.color{
    color: rgb(242, 62, 17);
}

.color2{
    color: rgb(25, 188, 4);
}

.color3{
    color: rgb(2, 151, 215);
}

.btn{
    margin-top: -7px;
} 


.row{
padding-top: 30px;
text-align: center;
}

h2{
    background-color: rgb(255, 87, 20);
    opacity: 0.9;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border: dotted #fff 4px;
    border-radius: 90px;
}

.bdy{
    background-color: rgba(255, 255, 0, 0.441);
    
}